.image {
    width: 100%;
    height: auto;
}

.tags {
    padding-block: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.mat-icon-button {
    font-size: 18px;
}

.search-bar {
    margin-block: 15px;
}

.dialog-actions {
    padding: 16px;
}