<div>
    <div style="height: 0;">
        <button></button>
    </div>
    <img [src]="imageData.dataURL" alt="Image" class="image">
    <div style="margin: 10px;">
        <div *ngIf="imageData.tags.length > 0" style="font-size: 18px;">Tags</div>
        <div class="tags">
            <mat-chip-row *ngFor="let taggedItem of imageData.tags; let i=index" (removed)="removeTag(i)">
                {{taggedItem.name}}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
        </div>

        <mat-form-field appearance="outline" class="search-bar">
            <input matInput placeholder="Search and tag people" [(ngModel)]="searchQuery" [matAutocomplete]="auto"
                (input)="search()" />
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let item of searchResults " [value]="item.name" (click)="addTag(item)">
                    <span>{{ item.name }}</span>
                </mat-option>
                <mat-option *ngIf="searchResultLength === 0">No data found</mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <mat-dialog-actions align="end" class="dialog-actions">
        <button mat-button (click)="closeDialog()">Close</button>
        <button mat-raised-button color="primary" (click)="upload()">Upload</button>
    </mat-dialog-actions>
</div>