/* You can add global styles to this file, and also import other style files */

html,
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 100%;
    background-color: #eee;
    color: #253a59;
}

main {
    max-width: 1000px;
    margin: auto;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
    overflow: auto;
}