/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: #eee;
    color: #333;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
    max-width: 1000px;
    margin: auto;
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
    overflow: auto;
}